/* Começo do Header */
*{
font-family: Arial, Helvetica, sans-serif;
color: #FCF7F8;
margin: 0;
padding: 0%;

}
.icon{
    width: 70px; 
}
.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.header .container{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #2c2c2c;
    background-color: #ee7828;
    position: fixed;
}
.container{
    display: flex;
    width: 100%;

}
.TituloSite{
    color: #2c2c2c;
    font-weight: bold;
}
.navbar .login{
    width: 80px;
    height: 40px;
    color:#2c2c2c;
    background-color: #c5baaa;
}
a{
 text-decoration: none;
 color:#2c2c2c;
}
/* Final do Header */

/* Começo do body*/
.boxTexto{
    width: 500px;
    margin: auto;
}
.banner .container{
    padding-top: 115px;
    background-color: #2c2c2ce1;
}   
.banner{
    width: 70%;
    margin: auto;
}
.background{
    background-image: url('assets/imgs/BackgroundHome.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
/* Fim do body */
.footer {
    height: 80px;
    background-color: #ee7828;
    border-top: 2px solid #2c2c2c;
    list-style: none;
    display: flex;
}
.footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}